<!DOCTYPE html>
<html lang="en">
	<head>
	<head>
		<meta charset="utf-8">
		<title>生成抽奖码</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">		
		<link rel="stylesheet" href="../cdn/element-plus/lib/theme-chalk/index.css">
	</head>
	<style>
		.pageTitle {
			text-align: center;
			font-size: 22px;
			color: white;
			line-height: 60px;
			background-color: #3f5161;
		}
	</style>
	<body>
		<div id="app">
			<el-container>
				<!-- 头部模块 -->
				<el-header class="pageTitle">
					生成抽奖码
				</el-header>
				<!-- 内容模块 -->
				<el-main ref="main">
					<el-form class="demo-form-inline" @submit.native.prevent>
						<el-form-item label="奖品等级">
							<el-select v-model="form.awardLevel" placeholder="选择奖品等级" @change="awardLevelChange">
								<el-option label="一等奖" value="1"></el-option>
								<el-option label="二等奖" value="2"></el-option>
								<el-option label="三等奖" value="3"></el-option>
								<el-option label="四等奖" value="4"></el-option>
								<el-option label="五等奖" value="5"></el-option>
								<el-option label="六等奖" value="6"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="生成数量">
							<el-input v-model.number="form.number"/>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="generate">生成抽奖码</el-button>
							<el-button type="primary" @click="exportExcel" icon="el-icon-download">导出抽奖码</el-button>
							<el-button type="primary" @click="getLotteryCode">获取未使用的抽奖码</el-button>
						</el-form-item>
					</el-form>
					<el-table ref="table" :data="tableData" style="width: 100%">
						<el-table-column type="index" label="序号" width="60px"align="center"></el-table-column>
						<el-table-column prop="awardLevel" label="奖品等级" align="center"></el-table-column>
						<el-table-column prop="lotteryNumber" label="抽奖码" align="center"></el-table-column>
					  </el-table>
				</el-main>
			</el-container>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="../cdn/vue/3.1.1/vue.global.js"></script>
	<!-- import JavaScript -->
	<script src="../cdn/element-plus/lib/index.full.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../cdn/axios/axios.min.js"></script>
	<script src="../js/utils/Util.js"></script>
	<!-- 导入导出 -->
	<script src="../js/excel/excel.js"></script>
	<script src="../js/excel/xlsx.full.min.js"></script>
	<script src="../js/excel/FileSaver.min.js"></script>
	<script type="text/javascript">
		var Main = {
			data() {
				return {
					pageTitle: '获取抽奖码',
					form: {
						awardLevel: null,
						number: 0,
					},
					tableData: []
				}
			},
			created() {
			},
			beforeMount() {
			},
			methods: {
				// 生成抽奖码
				generate() {
					if (!vm.form.awardLevel) {
						ElMessage.error("请选择奖品等级");
						return;
					}
					if (!vm.form.number) {
						ElMessage.error("请输入大于0的数量");
						return;
					}
					axios.post("/api/lottery/generateLotteryCode", vm.form).then(function(response) {
						if (response.data.code == 0) {
							vm.tableData = response.data.data;
						} else {
							vm.$message.error(response.data.errorMsg);
						}
					}).catch(function(error) {
						vm.$message.error(error.message);
					});
				},
				// 导出抽奖码
				exportExcel() {
					const exportTable = [];
					for (let i = 0;i < vm.tableData.length; i++) {
						const rowData = {"index":i+1, "awardLevel":vm.tableData[i].awardLevel, "lotteryNumber":vm.tableData[i].lotteryNumber};
						exportTable.push(rowData);
					}
					const workBook = {
						SheetNames: ['抽奖码'],
						Sheets: {},
					};
					const header = ['index','awardLevel','lotteryNumber'];
					const headerDisplay = {'index':'序号', 'awardLevel' : '奖品等级','lotteryNumber' : '抽奖码'};
					const data = [headerDisplay].concat(exportTable);
					workBook.Sheets['抽奖码'] = XLSX.utils.json_to_sheet(data, {header:header, skipHeader:true});
					/* 获取二进制字符串作为输出 */
					const wbout = XLSX.write(workBook, {
						bookType: 'xlsx',
						bookSST: true,
						ignoreEC: false,
						type: 'array'
					})
					try {
						const blob = new Blob([wbout], {
							type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
						}); // 文件类型
						saveAs(blob, "抽奖码" + getDateTime() + ".xlsx"); // 使用saveAs保存数据到excel
					} catch (e) {
						if (typeof console !== 'undefined') console.log(e, wbout)
					}
				},
				// 获取未使用的抽奖码
				getLotteryCode() {
					axios.get("/api/lottery/getLotteryCode", {
						params: {awardLevel: vm.form.awardLevel ? vm.form.awardLevel : 0}
					}).then(function(response) {
						if (response.data.code == 0) {
							vm.tableData = response.data.data;
						} else {
							vm.$message.error(response.data.errorMsg);
						}
					}).catch(function(error) {
						vm.$message.error(error.message);
					});
				}
			},
		};
		const app = Vue.createApp(Main);
		app.use(ElementPlus);
		const vm = app.mount("#app");
	</script>
</html>
