<!DOCTYPE html>
<html lang="en">
	<head>
	<head>
		<meta charset="utf-8">
		<title>抽奖</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">		
		<link rel="stylesheet" href="../cdn/element-plus/lib/theme-chalk/index.css">
	</head>
	<style>
		body {
			margin: 0px;
			background: #fbe3cc;
			font-family: "微软雅黑", "microsoft yahei";
		}

		.g-lottery-case {
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
		}
		
		.g-lottery-box {
			background: url(../img/ly-plate-c.gif) no-repeat;
			background-size: 320px;
			background-position: center;
		}
		
		.g-lottery-box .g-lottery-img {
			height: 320px;
			background: url(../img/bg-lottery.png) no-repeat;
			background-size: 277px;
			background-position: center;
		}
		
		.g-lottery-box .playbtn {
			background: url(../img/playbtn.png) no-repeat;
			background-size: 140px;
			background-position: center;
			width: 150px;
			height: 150px;
			margin: 0 auto;
			position: relative;
			top: 84px;
		}
		
		.m-title {
			text-align: center;
			color: firebrick;
			font-weight: bold;
			margin: 10px 0px;
		}
		
		.jpsm-bg {
			background-color: rgba(255, 255, 255, 0.6);
			height: 185px;
			text-align: center;
			margin-bottom: 4px;
		}
		.jpsm-bg img {
			width: 100%;
			height: 110px;
		}
		.jpsm-title {
			width: 100%;
			color: red;
			font-weight: bold;
		}
		.jpsm-desc {
			font-size: 12px;
		}
		.el-dialog--center .el-dialog__body {
			padding: 10px 25px;
		}
		.el-dialog__footer {
			padding-top: 0px;
		}
		.prize {
			background: url(../img/prize.png) no-repeat;
			width: 260px;
			height: 260px;
			background-size: 260px;
			background-position: center;
		}
		.prize img {
			width: 100px;
			height: 95px;
			margin: 75px 80px;
		}
	</style>
	<body>
		<div id="app">
			<el-row>
				<el-col>
					<div class="g-lottery-case">
						<div style="color: darkred; font-size: 40px; font-weight: bold; margin: 20px;">抽奖大酬宾</div>
						<div class="g-lottery-box">
							<div class="g-lottery-img">
								<div class="playbtn" @click="dialogFormVisible1 = true"></div>
							</div>
						</div>
						<div style="margin: 0px 20px;">
							<div class="m-title">活动奖品</div>
							<el-row gutter="4">
								<el-col :span="8">
									<div class="jpsm-bg">
										<img src="../img/1.png" />
										<div class="jpsm-title">一等将</div>
										<span class="jpsm-desc">iPhone13pro max/8888现金红包</span>
									</div>
								</el-col>
								<el-col :span="8">
									<div class="jpsm-bg">
										<img src="../img/2.png" />
										<div class="jpsm-title">二等将</div>
										<span class="jpsm-desc">5200现金红包</span>
									</div>
								</el-col>
								<el-col :span="8">
									<div class="jpsm-bg">
										<img src="../img/3.png" />
										<div class="jpsm-title">三等将</div>
										<span class="jpsm-desc">iPhone12/iPad pro 11英寸</span>
									</div>
								</el-col>
							</el-row>
							<el-row gutter="4">
								<el-col :span="8">
									<div class="jpsm-bg">
										<img src="../img/4.png" />
										<div class="jpsm-title">四等将</div>
										<span class="jpsm-desc">华为P40/三亚双人游</span>
									</div>
								</el-col>
								<el-col :span="8">
									<div class="jpsm-bg">
										<img src="../img/5.png" />
										<div class="jpsm-title">五等将</div>
										<span class="jpsm-desc">iPadmini4/ Sweeping robot</span>
									</div>
								</el-col>
								<el-col :span="8">
									<div class="jpsm-bg">
										<img src="../img/6.png" />
										<div class="jpsm-title">六等奖</div>
										<span class="jpsm-desc">888元现金</span>
									</div>
								</el-col>
							</el-row>
							<div class="m-title">抽奖规则</div>
							<div style="color: firebrick; text-align: left;">
								活动最终解释权为商家所有！
								<br />
								<br />
								活动规则 顾客需看
								<br />
								<br />
								1.“/”是指两个奖品随机其中之一
								<br />
								2.中奖后不可更换奖项 除现金之外的奖品不可折现
							</div>
							<div class="m-title">我的奖品</div>
							<div>
								<el-table ref="prizeTable" :data="prizeTable" border highlight-current-row>
									<el-table-column type="index" label="序号" width="60px" align="center">
									</el-table-column>
									<el-table-column prop="awardLevel" label="奖品" align="center">
										<template #default="scope">
											{{ awardLevelToText(scope.row.awardLevel)}}
										</template>
									</el-table-column>
									<el-table-column prop="usageTime" label="使用时间" width="160px" align="center">
									</el-table-column>
								</el-table>
							</div>
							<el-button type="danger" round @click="dialogFormVisible2 = true">查询我的奖品</el-button>
							<el-button type="danger" round @click="dialogFormVisible3 = true">保存收货地址</el-button>
						</div>
					</div>
				</el-col>
			</el-row>
			<el-dialog v-model="dialogFormVisible1" title="抽奖" center>
				<el-row>
					<el-input v-model="form.lotteryNumber" placeholder="请输入抽奖码" />
				</el-row>
				<br />
				<el-row>
					<el-input v-model="form.winner" placeholder="请输入手机号" />
				</el-row>
				<template #footer>
					<el-button type="danger" round @click="lotteryClick">抽奖</el-button>
				</template>
			</el-dialog>
			
			<el-dialog v-model="dialogFormVisible2" title="查询我的奖品" center>
				<el-row>
					<el-input v-model="form.winner" placeholder="请输入手机号" />
				</el-row>
				<template #footer>
					<el-button type="danger" round @click="queryPrize">查询我的奖品</el-button>
				</template>
			</el-dialog>
			
			<el-dialog v-model="dialogFormVisible3" title="领取奖品" center>
				<el-row>
					<el-input v-model="form.winner" placeholder="请输入手机号" />
				</el-row>
				<br />
				<el-row>
					<el-input v-model="form.name" placeholder="请输入姓名" />
				</el-row>
				<br />
				<el-row>
					<el-input v-model="form.receivingAddress" placeholder="请输入收货地址" />
				</el-row>
				<template #footer>
					<el-button type="danger" round @click="saveReceivingAddress">保存收货信息</el-button>
				</template>
			</el-dialog>
			
			<el-dialog v-model="dialogFormVisible4" title="中奖啦" center width="310px">
				<div class="prize">
					<img :src="prizeImg"/>
				</div>
				<template #footer>
					<span style="color: red; font-size: 18px;">{{prize}}</span>
				</template>
			</el-dialog>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="../cdn/vue/3.1.1/vue.global.js"></script>
	<!-- import JavaScript -->
	<script src="../cdn/element-plus/lib/index.full.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../cdn/axios/axios.min.js"></script>
	<script src="../js/utils/Util.js"></script>
	<script type="text/javascript" src="../js/jquery.rotate.min.js"></script>
	<script type="text/javascript">
		var Main = {
			data() {
				return {
					isture: false,
					dialogFormVisible1: false,
					dialogFormVisible2: false,
					dialogFormVisible3: false,
					dialogFormVisible4: false,
					form: {
						lotteryNumber: "",
						winner: "",
						name: "",
						receivingAddress: "",
					},
					prizeTable: [{}],
					prize: '',
					prizeImg: '',
				}
			},
			created() {
			},
			beforeMount() {
			},
			methods: {
				/**
				 * 点击抽奖事件
				 */
				lotteryClick() {
					if(vm.isture) return; // 如果在执行就退出
					vm.isture = true; // 标志为在执行
					if (!vm.form.lotteryNumber) {
						ElMessage.error("请输入抽奖号码");
						vm.isture = false;
						return;
					}
					if (!vm.form.winner) {
						ElMessage.error("请输入手机号码");
						vm.isture = false;
						return;
					}
					axios.post('/api/lottery/lottery', vm.form).then(function(response) {
						if (response.data.code == 0) {
							vm.isture = false;
							vm.dialogFormVisible1 = false;
							vm.form.lotteryNumber = '';
							vm.clickfunc(response.data.data)
						} else {
							vm.isture = false;
							ElMessage.error(response.data.errorMsg);
						}
					}).catch(function(error) {
						vm.isture = false;
						ElMessage.error(error.message);
					});
				},
				awardLevelToText(data) {
					switch(data) {
						case 1:
							return 'iPhone13pro max/8888现金红包';
							break;
						case 2:
							return '5200现金红包';
							break;
						case 3:
							return'iPhone12/iPad pro 11英寸';
							break;
						case 4:
							return '华为P40/三亚双人游';
							break;
						case 5:
							return 'iPadmini4/Sweeping robot';
							break;
						case 6:
							return '888元现金';
							break;
					}
				},
				clickfunc(awards) {
					var angle = awards * 60 - 60;
					vm.isture = true;
					var $btn = $('.playbtn');
					$btn.stopRotate();
					$btn.rotate({
						angle: 0,
						duration: 4000, //旋转时间
						animateTo: - (angle + 1440), //让它根据得出来的结果加上1440度旋转
						callback: function() {
							vm.isture = false; // 标志为 执行完毕
							vm.prize = vm.awardLevelToText(awards);
							vm.prizeImg = '../img/' + awards + '.png'
							vm.dialogFormVisible4 = true;
							vm.queryPrize();
						}
					});
				},
				/**
				 * 查询中奖信息
				 */
				queryPrize() {
					if (!vm.form.winner) {
						ElMessage.error("请输入手机号码");
						vm.isture = false;
						return;
					}
					axios.get("/api/lottery/queryWinningInfo", {
						params: {
							winner: vm.form.winner
						}
					}).then(function(response) {
						if (response.data.code == 0) {
							vm.dialogFormVisible2 = false;
							vm.prizeTable = response.data.data.maps;
							vm.form.name = response.data.data.name;
							vm.form.receivingAddress = response.data.data.receivingAddress;
						} else {
							ElMessage.error(response.data.errorMsg);
						}
					}).catch(function(error) {
						ElMessage.error(error.message);
					});
				},
				/**
				 * 保存收货地址
				 */
				saveReceivingAddress() {
					axios.post('/api/lottery/saveReceivingAddress', vm.form).then(function(response) {
						if (response.data.code == 0) {
							vm.dialogFormVisible3 = false;
							vm.queryPrize();
							ElMessage.success("保存成功");
						} else {
							ElMessage.error(response.data.errorMsg);
						}
					}).catch(function(error) {
						ElMessage.error(error.message);
					});
				}
			},
		};
		const app = Vue.createApp(Main);
		app.use(ElementPlus);
		const vm = app.mount("#app");
	</script>
</html>
