<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.LotteryCodeMapper">

    <resultMap id="lotteryCodeMapper" type="com.tencent.wxcloudrun.model.LotteryCode">
        <id property="lotteryNumber" column="lottery_number"/>
        <result property="awardLevel" column="award_level"/>
        <result property="usedStatus" column="used_status"/>
        <result property="winner" column="winner"/>
        <result property="name" column="name"/>
        <result property="receivingAddress" column="receiving_address"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" />
        <result property="usageTime" column="usage_time" javaType="java.util.Date"  />
    </resultMap>

    <insert id="insertLotteryCode">
        INSERT INTO `lottery_code` (`lottery_number`, `award_level`, `used_status`, `create_time`) VALUES
        <foreach collection="lotteryCodes" item="lotteryCode" separator=",">
               (#{lotteryCode.lotteryNumber}, #{lotteryCode.awardLevel}, #{lotteryCode.usedStatus}, #{lotteryCode.createTime})
        </foreach>
    </insert>

    <select id="getLotteryCode" resultMap="lotteryCodeMapper">
        SELECT `lottery_number`, `award_level`
        FROM lottery_code
        WHERE used_status = 0
        <if test="awardLevel > 0">
            AND award_level = #{awardLevel}
        </if>
        ORDER BY award_level,create_time
    </select>

    <select id="queryWinningInfo" resultMap="lotteryCodeMapper">
        SELECT lottery_number, award_level, used_status, winner, usage_time, name, receiving_address
        FROM lottery_code
        WHERE winner = #{winner}
        ORDER BY usage_time
    </select>

    <select id="queryPrize" resultMap="lotteryCodeMapper">
        SELECT *
        FROM lottery_code
        WHERE lottery_number = #{lotteryNumber}
    </select>

    <update id="updateLotteryInfo">
        UPDATE lottery_code
        SET used_status=#{lotteryCode.usedStatus}, winner=#{lotteryCode.winner}, usage_time=#{lotteryCode.usageTime}, name=#{lotteryCode.name}, receiving_address=#{lotteryCode.receivingAddress}
        WHERE lottery_number=#{lotteryCode.lotteryNumber};
    </update>

    <update id="saveReceivingAddress">
        UPDATE lottery_code
        SET name=#{lotteryCode.name}, receiving_address=#{lotteryCode.receivingAddress}
        WHERE winner=#{lotteryCode.winner};
    </update>

</mapper>