<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.LotteryCodeMapper">

    <resultMap id="lotteryCodeMapper" type="com.tencent.wxcloudrun.model.LotteryCode">
        <id property="lotteryNumber" column="lottery_number"/>
        <result property="awardLevel" column="award_level"/>
        <result property="usedStatus" column="used_status"/>
        <result property="winner" column="winner"/>
        <result property="createTime" column="create_time" javaType="java.time.LocalDateTime" />
        <result property="usageTime" column="usage_time" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <insert id="insertLotteryCode">
        INSERT INTO `lottery_code` (`lottery_number`, `award_level`, `used_status`, `create_time`) VALUES
        <foreach collection="lotteryCodes" item="lotteryCode" separator=",">
               (#{lotteryCode.lotteryNumber}, #{lotteryCode.awardLevel}, #{lotteryCode.usedStatus}, #{lotteryCode.createTime})
        </foreach>
    </insert>

</mapper>